In [3]:
import os
import openai
import pandas as pd

openai.api_key = os.getenv("OPENAI_API_KEY")

df = pd.read_csv("sales_data_sample.csv")

In [ ]:
df

 - `df.groupby("QTR_ID")` is grouping the data in the DataFrame `df` by the values in the "QTR_ID" column.
 - `.sum()` is then applied to the groups, which calculates the sum of the sales for each group.
 - `['SALES']` is used to select the "SALES" column of the result.
 - The entire expression calculates the sum of sales for each quarter.

In [5]:
df.groupby("QTR_ID").sum()['SALES']

QTR_ID
1    2350817.73
2    2048120.30
3    1758910.81
4    3874780.01
Name: SALES, dtype: float64

In [6]:
# What was the total sum of sales by quarter?
# --> SELECT SUM(SALES) FROM table WHERE QTR_ID = 1

In [9]:
import sqlalchemy

In [10]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [11]:
# TEMP DB in RAM

# PUSH Pandas DF --> TEMP DB

# SQL uery on TEMP DB

In [12]:
# explain this line of code:
# here we are creating a temporary database in RAM using the create_engine function from the sqlalchemy library
# echo = True is a parameter that allows us to see the SQL query that is being executed
temp_db = create_engine('sqlite:///:memory:', echo =True)

In [13]:
data = df.to_sql(name='Sales', con=temp_db)

2023-06-14 11:05:13,934 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-14 11:05:13,939 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-06-14 11:05:13,940 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-14 11:05:13,941 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-06-14 11:05:13,941 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-14 11:05:13,944 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2023-06-14 11:05:13,944 INFO sqlalchemy.engine.Engine [no key 0.00063s] ()
2023-06-14 11:05:13,945 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-06-14 11:05:13,946 INFO sqlalchemy.engine.Engine [no key 0.00049s] ()
2023-06-14 11:05:13,996 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-06-14 11:05:13,997 INFO sqlalchemy.engine.Engine [generated in 0.03466s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2023-06-14 11:05:14,013 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-06-14 11:05:14,014 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-14 11:05:14,015 INFO sqlalchemy.engine.Engine COMMIT

CREATE TABLE above in the output shows is the table "Sales" and shows all the columns in the table along with their data types.